<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>H. P. Lovecraft</string>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
	</dict>
	<key>genre</key>
	<string>Short Stories</string>
	<key>itemName</key>
	<string>The Call of Cthulhu, Quikscript Edition</string>
	<key>playlistName</key>
	<string>The Call of Cthulhu, Quikscript Edition</string>
	<key>releaseDate</key>
	<string>1926</string>
	<key>sort-artist</key>
	<string>Lovecraft, H. P.</string>
	<key>sort-artist-status</key>
	<integer>1</integer>
	<key>year</key>
	<integer>1926</integer>
</dict>
</plist>
