@font-face {
    font-family: Alegreya;
    src: url(alegreya-bolditalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Alegreya;
    src: url(alegreya-italic.ttf);
    font-style: italic;
}

h1.title, 
h2.author {
    font-family: Alegreya;
    font-style: italic;
}

h1.title {
    font-weight: bold;
}
