html {
    font-size: 18pt;
    line-height: 2;
    
    background: #111;
    color: #93a1a1; /* base1 */
}

body > * {
    max-width: 30rem;
    margin: 0 auto;
}

body > hgroup {
    padding-bottom: 1em;
    border-bottom: thin solid;
    margin-bottom: 1em;
}
